<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title></title>
</head>
<body>
  <div id="canvas-container">
    <canvas id="canvas"></canvas>
    <div id='greyscale-img'>
        <!--        greyscale img-->
    </div>
</div>
<div class="buttons">
    <button type="button" class="button" onclick="sendImage()">Predict</button>
    <button onclick="clear_canvas()" type="button" class="button">Clear</button>
</div>
<div class="datas">
    <p>Result: <span id="result">-</span></p>
    <p>Confidence: <span id="confidence">-</span></p>
</div>

<div class="result-container">
    <div id='visualization-img'>
        <!--        Probability graph-->
    </div>
</div>
<script src="./static/js/index.js"></script>
</body>
</html>